/*general*/
/*container*/
.container-fix {
	display: flex;
	margin-top: 1em;
}

/*row*/
.row-align-center {
	align-items: center;
}

.row-padding-bottom {
    padding-bottom: 0.5em;
}

.force-bottom {
    display: flex;
    flex-flow: column nowrap;
}

.bottom-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

/*menu*/
.menu-logo {
    width: 35px;
}

.menu-dropdown .dropdown {
	left: 90%;
	width: 10%;
}

/*text*/
.text-justified {
	text-align: justify;
}

.text-indigo {
	color: #6610f2 !important;
}

.rounded-text {
    padding: 5px 15px;
    border-radius: 100px;	
}

/*backgrounds*/
.bg-indigo {
    background-color: #6610f2!important;
}

.bg-gray {
	background-color: #eaeaea!important;
}

/*buttons*/
.btn-indigo {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

.btn-indigo:hover {
    color: #6610f2;
    background-color: #fff;
    border-color: #6610f2;
}

/*list*/
.list-full {
	width: 100%;
    flex-wrap: wrap;
    border: 1px solid rgba(0,0,0,.125);
}

.list-2 {
	width: 50%;
	font-size: 14px;
}

.list-full .list-group-item {
    border: none !important;
}

/*features - block*/
.feature-column {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 26px -2px rgb(0 0 0 / 6%);
}

.feature-column-icon {
	width: 50px;
	margin: 0 0.5em 0.5em 0;
}

.feature-column-image {
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*small list*/
.sm-list {
	font-size: 14px
}

/*classes - block*/
.class-block {
	height: 100%;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 26px -2px rgb(0 0 0 / 6%);	
}

.class-icon {
	font-size: 30px;
}

.class-header {
    margin-bottom: 0.5em;
}

h3.class-name { 
	margin: 0;
}

h3.class-name, .class-teacher, h3.class-student-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.class-day {
	width: 50%;
}

/*footer*/
.margin-fix {
	padding-top: 1em;
}

@media screen and (max-width: 1400px) {
	.list-2 {
		width: 100%;
	}	
}

@media screen and (min-width: 576px) and (max-width: 992px) {
	.hide-tablet {
		display: none !important;
	}
}

@media screen and (max-width: 992px) {
	.col-tablet {
		flex: inherit !important;
	    flex-wrap: wrap !important;
	    width: 48%;
	}
}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 576px) {
	.container-mob {
		padding: 0 30px !important;
	}
}